*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color:black;
  background-image: url("/kepek/background.avif");
}

main{
  position: relative;
  background-color: rgb(32, 20, 11);
  color: white;
  margin: auto;
  max-width: 1200px;
  width: 80%;
  border-right: 2px solid rgb(0, 153, 255);
  border-left: 2px solid rgb(0, 153, 255);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:  "nav nav"
                        "aside header"
                        "aside article"
                        "footer footer";
}

nav{
  grid-area: nav;
}
header{
  grid-area: header;
  position: sticky;
  top: 0;
  right: 0;
}
aside{
  grid-area: aside;
}
article{
  grid-area: article;
}
footer{
  grid-area: footer;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  background-color: rgb(75, 39, 22);
  padding: 10px;
  margin: 0;
}

nav ul li a{
  text-decoration: none;
  color: white;
  position: absolute;
}

#dropdown{
  position: relative;
}

#c_dropdown{
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
#dropdown:hover #c_dropdown{
  display: grid;
  z-index: 100;
}