
nav{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Remove_before_flight_keychain.jpg/2560px-Remove_before_flight_keychain.jpg");
    background-size: contain;
    background-color: blue;
}
header{
    background-color: brown;
}
aside{
    background-color: red;
}
article{
    background-color: green;
}
footer{
    background-color: gold;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Remove_before_flight_keychain.jpg/2560px-Remove_before_flight_keychain.jpg");
    background-size: contain;
}